*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(orange , white ,green );
}
.container{
  
  background: linear-gradient(#BCEADBE0,#1E8B8BF2,#9CDBDBBD) ;
  padding: 2rem;
  min-height: 45vh;
  width: 40vh;
  border-radius: 2rem;
  border: 1px solid #000000F2;
  box-shadow: 0 5px 40px #000000F2;
}
form{
  margin: 2rem 0 1rem 0;
}
form select,button, input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input{
  border: 1px solid lightgrey;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.5rem;
  
}
h3{
  font-size: 2rem;
  text-shadow: 0 4px 10px #4F494999;
}
.down{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
.selectcont img{
  max-width: 2rem;
}
.selectcont{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}
.down i{
  font-size: 1.2rem;
  margin-top: 1rem;
}
.selectcont select{
  font-size: 1rem;
  width: auto;
}
.msg{
  margin: 2rem 0 2rem 0;
  
}
form button{
  height: 2rem;
  background: #DCE1EE;
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;
}
